<section>
    <div class="container">
        <div class="col-6">
            <form action="/admin/add-product" method="POST" enctype="multipart/form-data">
                
                    <label for="">Name</label>
                    <input type="text" name="Name" class="form-control">


                    <label for="">Catogory</label>
                    <input type="text" name="Catogory" class="form-control">

             
                
                    <label for="">Prise</label>
                    <input type="text" name="Prise" class="form-control">

              
                    <label for="">Description</label>
                    <input type="text" name="Description" class="form-control">

                
                    <label for="">Image</label>
                    <input type="file" name="Image" class="form-control">

               


                <br>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</section> 