<section>
    {{#each products}}
    <div class="container">
        <div class="card" style="width: 18rem;">
            <img src="{{this.Image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.discription}}</p>
                <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
        </div>
    </div>
    {{/each}}
</section>