<section>
    <div class="container mt-5">
        <div class="d-flex justify-content-center">
            <div class="align-self-center">
                <div class=" mt-5" style="align-items: center; width:40rem;height:20rem;border:1px solid #000; padding: 60px;">
                    <h3 style="color: green; text-align: center; ">Your Order Placede Successfully</h1><br><br>
                    
                    <div class="d-flex justify-content-center">
                        <a href="/my-oders"  class="btn btn-primary">Go to My oders</a>

                    </div>
                </div>

            </div>


        </div>
    </div>
    </div>
</section>